@page
@model Fak3News.Web.Pages.AdminModel
@{
}

<div class="list-group">
    @foreach (var item in Model.Articles)
    {
        <a class="list-group-item list-group-item-action">
            @item.Title
        </a>
    }
</div>
