@page
@model Fak3News.Web.Pages.ArticleModel
@{
    ViewBag.Title = @Model.Article.Title;
}

<div class="container gap-3 list-group">
    <div class="row justify-content-center">@Model.MarkdownService.Parse(Model.Article.Content)</div>
</div>