@page
@model Fak3News.Web.Pages.ArticleModel
@{
    ViewBag.Title = @Model.Article.Title;
}

<div class="container border rounded-2 p-3 justify-content-center">
    @Model.MarkdownService.Parse(Model.Article.Content)
</div>