@page
@model Fak3News.Web.Pages.IndexModel
@{
}

<div>
   <table>
       <thead>
           <tr>
               <th>Id</th>
               <th>Content</th>
           </tr>
       </thead>
       @foreach (var item in Model.Articles)
       {
           <tr>
               <td>@item.Id</td>
               <td>@item.Content</td>
           </tr>
       }
   </table>
</div>